#microcopy .icon32 { background: url('../img/icon-32.png') 0 0 no-repeat; }
#microcopy .sub { position:relative !important; top:auto !important; line-height: 22px;	 }
#microcopy.detail { width:60%; }
